*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito' !important;
    font-weight: normal;
    overflow-x: hidden;
    font-style: inherit;
    // line-height: 1.5;
}
ul{
    list-style: none;
}